//
// GoldenEgg
// Date: 2015-12-15
// Update: 2015-12-15
//

// Import 
@import "_variables";

@import "_mixin";

// @import "_global";

$container-height: 500px;
.sliderify-container {
	height: $container-height;
	min-height: 60px;
	position: relative;
	background: #ddd;
	overflow: hidden;

	.sliderify-wrapper {
		@include clearfix();

		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}

	.sliderify-slide {
		float: left;
		height: 100%;
		text-align: center;

		img {
			width: 100%;
		}
	}

	.sliderify-pagination {
		position: absolute;
		bottom: 1em;
		width: 100%;
		text-align: center;
	}

	.sliderify-bullet {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin: 0 3px;
		border-radius: 100%;
		background: #000;
		opacity: .5;
		filter: alpha(opacity=50);
		cursor: pointer;

		&.current {
			opacity: .8;
			filter: alpha(opacity=80);
		}
	}

	.sliderify-prev,
	.sliderify-next {
		position: absolute;
		top: 50%;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border-radius: 100%;
		border: 1px solid #000;
		margin-top: -25px;
		text-align: center;
		cursor: pointer;
	}

	.sliderify-prev {
		left: 1em;

		&.arrow {
			background: url('../img/arrow-left.png') no-repeat 45% 50%;
		}
	}

	.sliderify-next {
		right: 1em;

		&.arrow {
			background: url('../img/arrow-right.png') no-repeat 55% 50%;
		}
	}
}