//
// Style
//

.sliderify-container {

	.sliderify-slide {

		&:nth-child(1) {
			background: #F06868;
		}

		&:nth-child(2) {
			background: #5B64F5;
		}

		&:nth-child(3) {
			background: #62C778;
		}

		&:nth-child(4) {
			background: #F06868;
		}

		&:nth-child(5) {
			background: #5B64F5;
		}

		&:nth-child(6) {
			background: #62C778;
		}
	}
}