//
// Style
//

@import '_mixin';

@import '_global';

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 9;
}

.fork-me {
	position: fixed;
	top: 50px;
	right: -80px;
	width: 300px;
	padding: .5em 0;
	text-align: center;
	background: #000;
	z-index: 666;
	transform: rotate(45deg);

	a {
		display: block;
		color: #fff;
	}
}

.sliderify-container {

	.sliderify-slide {

		&:nth-child(1) {
			background: #F06868;
		}

		&:nth-child(2) {
			background: #F5F35B;
		}

		&:nth-child(3) {
			background: #62C778;
		}

		&:nth-child(4) {
			background: #F06868;
		}

		&:nth-child(5) {
			background: #F5F35B;
		}

		&:nth-child(6) {
			background: #62C778;
		}
	}
}

.footer {
	text-align: center;
	padding: 3em 0;
}